button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &.primary{
  	 @extend %primary-button;
  	  float:right;

  }
   &.secondary{
  	 @extend %secondary-button;


  }
}
