table {
  border-collapse: collapse;
  margin: ($base-spacing / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15);
  font-weight: bold;
  padding: ($base-spacing / 2) 0;
  text-align: left;
<<<<<<< HEAD
=======
    font-size:1em;
>>>>>>> origin/gh-pages
}

td {
  border-bottom: $base-border;
<<<<<<< HEAD
  padding: ($base-spacing / 2) 0;
=======
  padding: ($base-spacing / 2) .5em;
  font-size:.8em;
>>>>>>> origin/gh-pages
}

tr,
td,
th {
  vertical-align: middle;
}
